# 视频
*.[mM][pP]4 filter=lfs diff=lfs merge=binary -text
*.[aA][vV][iI] filter=lfs diff=lfs merge=binary -text
*.[mM][kK][vV] filter=lfs diff=lfs merge=binary -text
*.[wW][mM][vV] filter=lfs diff=lfs merge=binary -text
*.[aA][sS][fF] filter=lfs diff=lfs merge=binary -text
*.[aA][sS][xX] filter=lfs diff=lfs merge=binary -text
*.[rR][mM] filter=lfs diff=lfs merge=binary -text
*.[rR][mM][vV][bB] filter=lfs diff=lfs merge=binary -text
*.3[gG][pP] filter=lfs diff=lfs merge=binary -text
*.[mM][oO][vV] filter=lfs diff=lfs merge=binary -text
*.[mM]4[vV] filter=lfs diff=lfs merge=binary -text
*.[dD][aA][tT] filter=lfs diff=lfs merge=binary -text
*.[vV][oO][bB] filter=lfs diff=lfs merge=binary -text
*.[dD][vV] filter=lfs diff=lfs merge=binary -text
*.[mM][pP][eE][gG] filter=lfs diff=lfs merge=binary -text
*.[mM][pP][gG] filter=lfs diff=lfs merge=binary -text
*.[mM][pP][eE] filter=lfs diff=lfs merge=binary -text
*.[mM]2[vV] filter=lfs diff=lfs merge=binary -text
*.[wW][eE][bB][mM] filter=lfs diff=lfs merge=binary -text
*.[fF][lL][vV] filter=lfs diff=lfs merge=binary -text
*.[vV][oO][bB] filter=lfs diff=lfs merge=binary -text
*.[sS][wW][fF] filter=lfs diff=lfs merge=binary -text
*.[aA][vV][cC] filter=lfs diff=lfs merge=binary -text
*.[aA][rR][fF] filter=lfs diff=lfs merge=binary -text
*.[vV][cC][rR] filter=lfs diff=lfs merge=binary -text

# 图像
*.[pP][sS][dD] filter=lfs diff=lfs merge=binary -text
*.[aA][iI] filter=lfs diff=lfs merge=binary -text
*.[cC][dD][rR] filter=lfs diff=lfs merge=binary -text
*.[rR][aA][wW] filter=lfs diff=lfs merge=binary -text
*.[hH][dD][rR] filter=lfs diff=lfs merge=binary -text
*.[fF][bB][xX] filter=lfs diff=lfs merge=binary -text
*.3[dD][sS] filter=lfs diff=lfs merge=binary -text
*.[pP][rR][jJ] filter=lfs diff=lfs merge=binary -text
*.[dD][aA][eE] filter=lfs diff=lfs merge=binary -text
*.[dD][wW][gG] filter=lfs diff=lfs merge=binary -text
*.[fF][lL][tT] filter=lfs diff=lfs merge=binary -text
*.[hH][tT][rR] filter=lfs diff=lfs merge=binary -text
*.[iI][gG][eE][sS] filter=lfs diff=lfs merge=binary -text
*.[iI][gG][sS] filter=lfs diff=lfs merge=binary -text
*.[iI][gG][eE] filter=lfs diff=lfs merge=binary -text
*.[iI][pP][tT] filter=lfs diff=lfs merge=binary -text
*.[iI][aA][mM] filter=lfs diff=lfs merge=binary -text
*.[lL][pP] filter=lfs diff=lfs merge=binary -text
*.[lL][sS] filter=lfs diff=lfs merge=binary -text
*.[sS][hH][pP] filter=lfs diff=lfs merge=binary -text
*.[aA][eE][pP] filter=lfs diff=lfs merge=binary -text
*.[pP][sS][bB] filter=lfs diff=lfs merge=binary -text
*.[eE][dD][xX] filter=lfs diff=lfs merge=binary -text
*.[cC][dD][sS] filter=lfs diff=lfs merge=binary -text

# 音频
*.[aA][pP][eE] filter=lfs diff=lfs merge=binary -text
*.[wW][aA][vV] filter=lfs diff=lfs merge=binary -text
*.[fF][lL][aA][cC] filter=lfs diff=lfs merge=binary -text
*.[aA][iI][fF][fF] filter=lfs diff=lfs merge=binary -text
*.[aA][aA][cC] filter=lfs diff=lfs merge=binary -text
*.[mM][pP]3 filter=lfs diff=lfs merge=binary -text
*.[cC][pP][aA] filter=lfs diff=lfs merge=binary -text
*.[sS][wW][aA] filter=lfs diff=lfs merge=binary -text
*.[sS][eE][sS][xX] filter=lfs diff=lfs merge=binary -text
*.[sS][eE][sS] filter=lfs diff=lfs merge=binary -text

# 库文件
*.[aA] filter=lfs diff=lfs merge=binary -text
*.[oO] filter=lfs diff=lfs merge=binary -text
*.[sS][oO] filter=lfs diff=lfs merge=binary -text
*.[lL][iI][bB] filter=lfs diff=lfs merge=binary -text

# 安装包或可执行程序
*.[mM][sS][iI] filter=lfs diff=lfs merge=binary -text
*.[eE][xX][eE] filter=lfs diff=lfs merge=binary -text
*.[iI][pP][aA] filter=lfs diff=lfs merge=binary -text
*.[aA][pP][kK] filter=lfs diff=lfs merge=binary -text

# 压缩包
*.7[zZ] filter=lfs diff=lfs merge=binary -text
*.[zZ][iI][pP] filter=lfs diff=lfs merge=binary -text
*.[tT][aA][rR] filter=lfs diff=lfs merge=binary -text
*.[gG][zZ] filter=lfs diff=lfs merge=binary -text
*.[tT][gG][zZ] filter=lfs diff=lfs merge=binary -text
*.[rR][aA][rR] filter=lfs diff=lfs merge=binary -text
*.[bB][zZ]2 filter=lfs diff=lfs merge=binary -text
*.[zZ] filter=lfs diff=lfs merge=binary -text


# disk image
*.[iI][sS][oO] filter=lfs diff=lfs merge=binary -text
*.[bB][iI][nN] filter=lfs diff=lfs merge=binary -text
*.[dD][mM][gG] filter=lfs diff=lfs merge=binary -text
*.[cC][uU][eE] filter=lfs diff=lfs merge=binary -text
*.[rR][aA][wW] filter=lfs diff=lfs merge=binary -text

# auto generated by UGit 
*.nupkg filter=lfs diff=lfs merge=binary -text
*.pdb filter=lfs diff=lfs merge=binary -text
*.dll filter=lfs diff=lfs merge=binary -text
*.obj filter=lfs diff=lfs merge=binary -text
*.png filter=lfs diff=lfs merge=binary -text
*.lib filter=lfs diff=lfs merge=binary -text
*.exp filter=lfs diff=lfs merge=binary -text

